<!DOCTYPE html>
<html>
<head>
<title>Learn Coding</title>
<link rel="stylesheet" href="/static/style.css">
</head>

<body>

<nav>
<div><b>ACM YCCE</b></div>
<div>
<a href="/">Home</a>
<a href="/study">Study</a>
<a href="/coding">Coding</a>
</div>
</nav>

<section class="section container">

<h1>🎮 Learn Coding</h1>

<div class="grid">

<div class="card">
<h3>Scratch</h3>
<p>Create games using drag-and-drop coding.</p>
<a class="btn" href="https://scratch.mit.edu" target="_blank">Start</a>
</div>

<div class="card">
<h3>Code.org</h3>
<p>Learn programming through puzzles.</p>
<a class="btn" href="https://code.org" target="_blank">Start</a>
</div>

<div class="card">
<h3>CodeCombat</h3>
<p>Learn Python while playing a game.</p>
<a class="btn" href="https://codecombat.com" target="_blank">Start</a>
</div>

<div class="card">
<h3>freeCodeCamp</h3>
<p>Learn HTML CSS JavaScript by building projects.</p>
<a class="btn" href="https://freecodecamp.org" target="_blank">Start</a>
</div>

<div class="card">
<h3>Replit</h3>
<p>Run code in your browser.</p>
<a class="btn" href="https://replit.com" target="_blank">Start</a>
</div>

</div>

</section>

</body>
</html>